:root {
    font-size: 14px;
}

@font-face{
    font-family: "roboto";
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
    font-weight: bold
}

body {
    margin-top: 85px;
    font-family: Helvetica, Arial, sans-serif ;
    background-color: #F1F0F0;
    background-image: url(../Img/codeup-arrow.png);
    background-repeat: repeat-x;
    background-position: top right;
}

div#tableContainer {
    display: table;
}

div#tableRow {
    display: table-row;
}

main {
    margin: 0 330px 10px 10px;
    display: table-cell;
}

#sidebar {
    width: 300px;
    display: table-cell;
    /*position: absolute;*/
    /*top: 130px;*/
    /*right: 10px;*/
    background-color: white;
    margin: 0 10px 10px 10px;
}

footer {
    background-color: white;
}

h1 {
    color: #0b850b;
    text-align: center;
    font-size: 1.9em;
}

h2, h3 {
    color: #003b00;
}

h3 {
    text-align: center;
    position: relative;
    right: 5px;
}

aside, em {
    font-family: Montserrat, serif;
}

h1, .bottom-border {
    border-bottom: 1px solid black;
}

li {
    list-style: square;
}

ol {
    list-style: thai;
/*    upper-latin*/
}

q {
    font-weight: bold;
}

blockquote {
    position: relative;
    left: 8px;
}

#main-branding {
    font-size: 110%
}

/*descendant selector*/

/*section > p {*/
/*    color: hotpink;*/
/*}*/

a:link {
    color: green;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: darkturquoise;
}

a:active {
    color: hotpink;
}

@media screen and (min-width: 768px){
    body {
        color: hotpink;
    }
    div#tableContainer, div#tableRow {
        display: contents;
    }
    #main, #sidebar {
        display: block;
    }
    img[src*="logo"] {
        display: none;
    }
}

/*img[src="logo"] {*/
/*    position:fixed;*/
/*    bottom:10px;*/
/*    right:0;*/
/*}*/
/*.bottom-border:first-of-type {*/
/*    border-width: 2px;*/
/*}*/

p:first-of-type::first-letter {
    font-size: 1.1em;
}